<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginCtrl</servlet-name>
        <servlet-class>com.controlador.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuarioCtrl</servlet-name>
        <servlet-class>com.controlador.CrearUsuarioCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCrearCurso</servlet-name>
        <servlet-class>com.controlador.ServletCrearCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarUsuario</servlet-name>
        <servlet-class>com.controlador.ServletEditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAsignarDocente</servlet-name>
        <servlet-class>com.controlador.ServletAsignarDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIngresarContenido</servlet-name>
        <servlet-class>com.controlador.ServletIngresarContenido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInscribirEstudiante</servlet-name>
        <servlet-class>com.controlador.ServletInscribirEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDashboardEstu</servlet-name>
        <servlet-class>com.controlador.ServletDashboardEstu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDashboardAdmin</servlet-name>
        <servlet-class>com.controlador.ServletDashboardAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCrearActividades</servlet-name>
        <servlet-class>com.controlador.ServletCrearActividades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDesarrollarActividades</servlet-name>
        <servlet-class>com.controlador.ServletDesarrollarActividades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCrearEvaluacionEstudiante</servlet-name>
        <servlet-class>com.controlador.ServletCrearEvaluacionEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPresentarEvaluacionEstudiante</servlet-name>
        <servlet-class>com.controlador.ServletPresentarEvaluacionEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCrearEvaluacionDocente</servlet-name>
        <servlet-class>com.controlador.ServletCrearEvaluacionDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletResponderEvaluacionDocente</servlet-name>
        <servlet-class>com.controlador.ServletResponderEvaluacionDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGenerarReportes</servlet-name>
        <servlet-class>com.controlador.ServletGenerarReportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletQuejasYReclamos</servlet-name>
        <servlet-class>com.controlador.ServletQuejasYReclamos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistroAdmin</servlet-name>
        <servlet-class>com.controlador.ServletRegistroAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCambiarEstado</servlet-name>
        <servlet-class>com.controlador.ServletCambiarEstado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginCtrl</servlet-name>
        <url-pattern>/loginCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuarioCtrl</servlet-name>
        <url-pattern>/CrearUsuarioCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCrearCurso</servlet-name>
        <url-pattern>/ServletCrearCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarUsuario</servlet-name>
        <url-pattern>/ServletEditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAsignarDocente</servlet-name>
        <url-pattern>/ServletAsignarDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIngresarContenido</servlet-name>
        <url-pattern>/ServletIngresarContenido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInscribirEstudiante</servlet-name>
        <url-pattern>/ServletInscribirEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDashboardEstu</servlet-name>
        <url-pattern>/ServletDashboardEstu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDashboardAdmin</servlet-name>
        <url-pattern>/ServletDashboardAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCrearActividades</servlet-name>
        <url-pattern>/ServletCrearActividades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDesarrollarActividades</servlet-name>
        <url-pattern>/ServletDesarrollarActividades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCrearEvaluacionEstudiante</servlet-name>
        <url-pattern>/ServletCrearEvaluacionEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPresentarEvaluacionEstudiante</servlet-name>
        <url-pattern>/ServletPresentarEvaluacionEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCrearEvaluacionDocente</servlet-name>
        <url-pattern>/ServletCrearEvaluacionDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletResponderEvaluacionDocente</servlet-name>
        <url-pattern>/ServletResponderEvaluacionDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGenerarReportes</servlet-name>
        <url-pattern>/ServletGenerarReportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletQuejasYReclamos</servlet-name>
        <url-pattern>/ServletQuejasYReclamos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistroAdmin</servlet-name>
        <url-pattern>/ServletRegistroAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCambiarEstado</servlet-name>
        <url-pattern>/ServletCambiarEstado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
